.oneCommit {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.oneCommit-heading {
  font-size: 1.2rem;
  color: #333;
  text-align: start;
  margin-left: 10px;
  text-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.charts {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  /* justify-content: center; */
  gap: 20px;
}

.common-chart {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  flex-basis: calc(33.33% - 40px);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: -webkit-fill-available;
}

.common-chart:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

/* Entities Part */
.entities {
  display: flex;
  flex-direction: column;
}

.entity-common-chart {
  display: flex;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 500px;
  margin: 10px 0;
}

.entities h2 {
  margin: 0;
}